/*stylings for headings; H2, H3, H4*/
h1 {
    display: block;
    font-size: 3em;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;  
}

h4 {
    display: block;
    font-size: 1em;
    font-weight: bold;
}

/*******************/

i {
    font-style: italic;
}

body{
    background-color: #6ac3ff;
}


/*****header*****/
header{ 
    padding: 1em;
    margin-bottom: 3em;
    min-height: 7em;
    background-color: whitesmoke;
}

header figure img{
    float: left;
}

header h1{
    text-align: center;
    font-family: serif;
    margin-top: 1em;
    font-size: 35px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.main{
    margin: 5% 0;
}

.post{
    padding: 4em;
    margin: 2em 1em;
    padding-bottom: 5em;
    border: 5px solid rgb(4, 172, 214);
}


/*time appearance*/
time{
    font-size: 10pt;
    font-weight: bold;
    display: block;
    color: white;
    text-align: right;
}

p{
    font-size: 20px;
}

nav{
    padding-top: 1em;
    text-align: center;
}

a{
    padding: 2em;
    font-size: 25px;
}

