html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
a, abbr, acronym, i, img, s,
strong, b, u, center, ol, ul, li,
fieldset, form, label, article, aside, figure, 
figcaption, footer, header, nav, section
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}